@use '../../styles/variables' as *;

.button {
  border: none;
  background: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon {
  color: $color-primary;
  fill: none;
}

.iconActive {
  fill: $color-primary;
}
