@use '../../styles/variables' as *;

.library {
  display: flex;
  flex-direction: column;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 8px;
}

.empty {
  margin-top: 80px;
}
